*{
    font-family: 'Pacifico', cursive;

}    
body {
        width: 100%;
        background-color: darken(orange, 5%);
        height: 100%;
        #wrapper {
            width: 100%;
            height: 100%;
            #header {
                width: 100%;
                height: 650px;
                .header-bg {
                    margin-top: 1%;
                    background: url(HearthStone_Logo_2016_m011.png);
                    height: 400px;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    .title {
                        text-align: center;
                        color: darkorange;
                    }
                }
                .nav {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    line-height: 50px;
                    .li-item {
                        list-style: none;
                        width: 30%;
                        transition: 0.3s;
                        background-color: orange;
                        margin: 0 2px;
                        border: 2px solid lighten(orange, 10%);
                        box-shadow: 2px 2px 2px 2px darken(grey, 20%);
                        text-align: center;
                        a {
                            color: black;
                            text-decoration: none;
                        }
                        &:hover {
                            background-color: lighten(orange, 20%);
                            transition: 0.3s;
                        }
                    }
                }
                .form-control {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .username {
                        text-align: center;
                        flex-grow: 1;
                        border: 2px solid darken(orange, 20%);
                        box-shadow: inset 0 0 10px black;
                        line-height: 50px;
                    }
                    .password {
                        text-align: center;
                        flex-grow: 1;
                        border-radius: 5%;
                        border: 2px solid darken(orange, 20%);
                        box-shadow: inset 0 0 10px black;
                        line-height: 50px;
                    }
                    .submit {
                        text-align: center;
                        flex-grow: 1;
                        border: 2px solid darken(orange, 20%);
                        box-shadow: inset 0 0 10px black;
                        line-height: 50px;
                    }
                }
            }
        }
        .filter-control {
            flex-grow: 1;
            display: inline-block;
            flex-wrap: wrap;
            text-align: center;
            margin: 0;
            align-items: center;
            top: 60%;
            justify-content: space-around;
            line-height: 50px;
        }
        .articels {
            display: inline-flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            .articel {
                text-align: center;
                flex-grow: 1;
            }
        }
        #main {
            width: 100%;
            height: 700px;
            margin-top: 20px;
            .form-control {
                width: 100%;
                display: flex;
                justify-content: space-around;
                .seach {
                    text-align: center;
                    width: 40%;
                    margin-left: 3%;
                    margin-right: 11%;
                    border-radius: 5%;
                    border: 2px solid darken(orange, 20%);
                    box-shadow: inset 0 0 10px black;
                    line-height: 50px;
                }
                .filter {
                    text-align: center;
                    flex-grow: 1;
                    border: 2px solid darken(orange, 20%);
                    box-shadow: inset 0 0 10px black;
                    line-height: 50px;
                }
            }
            .classes-checkboxes-form {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
                text-align: center;
                justify-content: space-around;
                .classes-checkboxes {
                    flex-grow: 1;
                    font-size: 2rem;
                }
            }
        }
    }